
    <div class="row sidebar">
        <div class="col-md-12 logo">
            <div class=" d-flex justify-content-between align-items-center w-100 p-3">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <img src="../../../../../assets/images/Logo icon.png" alt="">
            </div>
            

        </div>
        <div class="col-md-12 bg-secondary logo">
            <div class="icon d-flex justify-content-between align-items-center w-100 p-3">
                <span class="bg-info p-3">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
               
                Dashboard
            </div>
        </div>
    </div>

