@import '../../../../../../../../../assets/styles/layout.scss';
@import '../../../../../../../../../assets/styles/abstracts/variables.scss';
.fa-check-circle{
    font-size: 3rem;
}
.closeBtn{
    border-radius:  20px;
    background-color: $light-yellow-color;
    padding: 10px 30px;
    color: $btn-color;
    font-size: 16px;

}
.span-color {
    background-color: $light-pink-color;
}
.fa-copy{
    cursor: pointer;
}
.input-group{
    border-radius: 20px !important;
}