<ng-container *ngIf="loggedInRole == 'Student'">
  <div class="container-fluid ">
    <div class="row mt-5 justify-content-center align-items-center home-card ">
      <div class="col-lg-6">
        <div>
          <label for="">Name:</label>
          <input class="form-control mb-4 " type="text" [value]="userName" disabled>

          <label for="">Email:</label>
          <input class="form-control mb-4" type="text" [value]="email" disabled>

          <label for="">Role:</label>
          <input class="form-control mb-4 " type="text" [value]="role" disabled>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="w-100 bg-image" src="../../../../../assets/images/student-732012_1280.jpg" alt="">
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="loggedInRole == 'Instructor'">
  <div class="py-5">
    <div class="row">
      <div class="col-md-6">
        <div class="p-3 main-border rounded-3">
          <app-shared-main-header [headerText]="'Upcoming 5 quizzes'" [navigationLink]="'/dashboard/instructor/quizzes'"
            [navigationVisibility]="true" [navigationText]="'Quizzes directory'"></app-shared-main-header>
          <app-shared-card  [cardContent]="upcomingQuizzes"
            [headerKeys]="['title']" [detailKeys]="['schadule']" [additionalContentKey]="'participants'"
            [wontUseGrid]="true" [useGrid]="false" [mainMenue]="false" [studentsVisibility]="true"
            [RouterLinkPath]="RouterLinkPath" (view)="willBeViewed($event)">

          </app-shared-card>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 main-border rounded-3">
          <h2 class=""></h2>
          <app-shared-main-header [headerText]="'Top 5 Students'" [navigationLink]="'/dashboard/instructor/students'"
            [navigationVisibility]="true" [navigationText]="'Students directory'"></app-shared-main-header>
          <app-shared-card [imgSrc]="'../../../../../assets/images/Quiz img.svg'" [cardContent]="topFiveStudents"
            [headerKeys]="['first_name', 'last_name']" [detailKeys]="['status', 'avg_score']"
            [studentsVisibility]="false" [wontUseGrid]="true" [useGrid]="false" [mainIconVisibility]="true"
            [mainMenue]="true" [RouterLinkPath]="RouterLinkPath2" (view)="willBeViewedStudent($event)"
            (delete)="willBeDeleteStudent($event)">
          </app-shared-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>