<nav class="d-flex fixed-top align-items-center justify-content-between gap-5 ">
  <div class="main-div logo d-flex align-items-center gap-3">
    <div class="menu-burger d-flex flex-column gap-1" [class.active-menu-burger]="sidebarCollapsed"
      (click)="onCloseSidebar()" role="button">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h3 class="m-0">QuizWiz</h3>
  </div>
  <div class="main-div route-content d-flex align-items-center justify-content-between gap-3">
    <h3 class="m-0 text-capitalize">{{ routePath }}</h3>
    <a *ngIf="loggedInRole == 'Instructor'" class="d-flex align-items-center gap-2 new-action" role="button"> <img
        src="../../../../../assets/images/navbar/new quiz icon.svg" class="w-25" alt="alarm new quiz">
      <p class="m-0">New quiz</p>
    </a>
  </div>
  <div class="main-div user-details d-flex flex-column align-items-start">
    <div class="d-flex align-items-center gap-3">
      <h3 class="m-0">{{ userName }}</h3>
      <!-- <i class="fa-solid fa-chevron-down"></i> -->
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onUpdateProfile()">
            <mat-icon >account_circle</mat-icon>
            <span class="fw-medium ">Update Profile</span>
          </button>
          <button mat-menu-item (click)="openChangePass()">
            <mat-icon>sync</mat-icon>
            <span class="fw-medium">Change Password</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span class="fw-medium">LogOut</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <span class="m-0 user-role">{{ loggedInRole }}</span>
  </div>

</nav>