@import "../../../../../assets/styles/layout.scss";

nav {
  border-bottom: 1px solid $main-border-color;
  background-color: $main-white-color;
  z-index: 4;

  .main-div {
    padding: 20px 40px;
    text-align: center;
    height: 100%;

    &:not(:last-child) {
      border-right: 1px solid $main-border-color;
    }

    &:last-child,
    &:nth-child(2) {
      padding-left: 0;
    }

    &.logo {
      flex-grow: 1;
      .menu-burger {
        overflow: hidden;
        transition: $main-transition;
        span {
          width: 20px;
          height: 3px;
          background-color: #000;
          transition: $main-transition;
        }

        &.active-menu-burger {
          span:nth-child(1) {
            transform: rotate(45deg) translate(3px, 5px);
          }

          span:nth-child(2) {
            transform: translateX(20px)
          }

          span:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -7px);
          }
        }
      }
    }

    &.route-content {
      flex-grow: 18;
      .new-action {
        color: #000;
        border-radius: 20px;
        border: 1px solid $main-border-color;
        padding: 7px 10px;
      }
    }

    &.user-details {
      flex-grow: 1;
      .user-role {
        color: $light-yellow-color
      }
    }
  }
}
