<form [formGroup]="joinForm" (ngSubmit)="onSubmit(joinForm)">
  <div class="container-fluid h-100 w-100 p-3">
    <div class="header d-flex justify-content-between align-items-center">
      <div class="text-center w-100">
        <h5 class="mb-4 p-0">Join Quiz</h5>
        <p class="text-black m-0">
          Input the code received for the quiz below to join
        </p>
      </div>
      <div class="position-absolute bottom-0 start-50 translate-middle-x">
        <div class="d-flex justify-content-between align-items-center">
          <div
            class="d-inline check p-4 border-start d-flex justify-content-center align-items-center"
          >
            <button type="submit" class="btn m-0">
              <span class="m-0"><i class="fa-solid fa-check"></i></span>
            </button>
          </div>
          <div
            (click)="onNoClick()"
            class="d-inline p-4 close border-start d-flex justify-content-center align-items-center"
          >
            <span class="m-0"><i class="fa-solid fa-xmark"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0 g-2">
      <div class="input-group col-12 p-0">
        <span class="input-group-text" id="basic-addon1">Code</span>
        <input
          type="text"
          formControlName="code"
          class="form-control p-2"
          aria-label="title"
          aria-describedby="basic-addon1"
          required
        />
      </div>
    </div>
  </div>
</form>
