<form (ngSubmit)="addStudToGroup(addStudToGroupForm)" [formGroup]="addStudToGroupForm">
    <div class="container-fluid   h-100 w-100 p-0 ">
        <div class="header d-flex 
         justify-content-between align-items-center border-bottom   ">
            <div class="p-3 ">
                <h5 class="m-0 p-0">Add Student To Group </h5>
            </div>
            <div>
                <div class=" d-flex  justify-content-between align-items-center ">
                    <div class="d-inline check p-4
                  border-start d-flex justify-content-center align-items-center ">
                        <button type="submit" class="btn">
                            <span class="mx-1 "> <i class="fa-solid fa-check"></i> </span>
                        </button>
                    </div>
                    <div (click)="onNoClick()" class="d-inline p-4
                 close  border-start d-flex justify-content-center align-items-center ">
                        <span class="mx-1 "> <i class="fa-solid fa-xmark"></i> </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3 m-0 ">
            <div class="input-group col-12 my-2 ">
                <span class="input-group-text" id="basic-addon1">Groups List</span>
                <mat-select formControlName="group_id" class="form-control">
                    <mat-option ng-selected *ngFor="let topping of groupsList " value="{{topping._id}}">
                        {{topping.name}}</mat-option>
                </mat-select>
            </div>
            <div class="input-group col-12 my-2">
                <span class="input-group-text" id="basic-addon1">Students List</span>
                <mat-select formControlName="student_id" class="form-control">
                    <mat-option ng-selected *ngFor="let topping of studentsList " value="{{topping._id}}">
                        {{topping.first_name}} {{topping.last_name}}</mat-option>
                </mat-select>
            </div>

        </div>
    </div>
</form>