@import '../../../../../../../../../../assets/styles/abstracts/dialog.scss';
.disabledForm {
    .form-control, .form-select, textarea {
        background-color: #dddddd !important;
        color: #000;
        cursor: no-drop;
    }
}

textarea {
    height: 88px;
    resize: none
}