<div class="px-5">
    <div class="row">
            <div class="col-12">
                <div class="p-3 main-border rounded-3">
                    <h2 class="mb-3">Student List</h2>
                    <app-shared-card
                        [imgSrc]="'../../../../../assets/images/student.png'"
                        [cardContent]="studentData"
                        [headerKeys]="['first_name', 'last_name']"
                        [detailKeys]="['email', 'status', 'role']"
                        [studentsVisibility]="false"
                        [useGrid]="true"
                        [mainIconVisibility]="true"
                    >
                    </app-shared-card>
                    <!-- <button *ngFor="let x of studentData" (click)="openDailog('1000ms','1000ms' ,x._id , 'delete')">Delete</button>
                    <button *ngFor="let x of studentData" (click)="openDailog('1000ms','1000ms' ,x._id ,'veiw')">Veiw</button> -->
                </div>
                
            </div>
    </div>
</div>
