
<form   [formGroup]="AddNewQuizForm" (ngSubmit)="submit(AddNewQuizForm)">

    <div class="container-fluid   h-100 w-100 p-0 ">
        <div class="header d-flex 
         justify-content-between align-items-center border-bottom   ">
            <div class="p-2 ">
                <h5 class="m-0 p-0" *ngIf="data.add">Set up a new quiz </h5> 
            </div>
           
            <div    
            class=" d-flex  justify-content-between align-items-center ">
                <div 
                 class="d-inline check p-3
                  border-start d-flex justify-content-center align-items-center ">
                  <button type="submit" class="btn" [disabled]="AddNewQuizForm.invalid">
                    <span class="mx-1 "> <i class="fa-solid fa-check"></i> </span>
                  </button>                
                </div>
                <div (click)="onNoClick()" class="d-inline p-3
                 close  border-start d-flex justify-content-center align-items-center ">
                    <span class="mx-1 "> <i class="fa-solid fa-xmark"></i> </span>
                </div>
            </div>
        </div>
        <div class="row p-3 m-0 ">
           
                <h6>
                    Details
                </h6>
                <div class="input-group col-12 my-2 ">
                
                    <span class="input-group-text" id="basic-addon1">Title :</span>
                    <input  
                    type="text"
                     
                     formControlName="title"
                     class="form-control p-2" aria-label="title"
                        aria-describedby="basic-addon1">
                </div>
                <div class="row my-2">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">Duration (in minutes)</span>
                            <input 
                            type="text"
                             
                             formControlName="duration"
                             class="form-control p-2" aria-label="title"
                                aria-describedby="basic-addon1">

                        </div> 
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">No. of questions</span>
                            <input 
                            type="text"
                             formControlName="questions_number"
                             class="form-control p-2" aria-label="title"
                                aria-describedby="basic-addon1">

                        </div> 
                    </div>
                    
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">Score per question</span>
                            <input 
                            type="text"
                             
                             formControlName="score_per_question"
                             class="form-control p-2" aria-label="title"
                                aria-describedby="basic-addon1">

                        </div> 
                    </div>
                </div>
                <div class="input-group col-12 my-2 ">
                
                    <span class="input-group-text" id="basic-addon1">Description :</span>
                    <textarea formControlName="description"
                    class="form-control" aria-label="With textarea"></textarea>
                </div>
                <div class="input-group col-12 my-2 ">
                    <span class="input-group-text" id="basic-addon1">Schedule :</span>
                    <input 
                             type="datetime-local"
                            
                             formControlName="schadule"
                             class="form-control p-2" aria-label="schadule"
                                aria-describedby="basic-addon1">
                    </div>
                    <div class="row my-2">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">Difficulty level</span>
                                <mat-select  class="form-control" formControlName="difficulty"> 
                                    <mat-option value="easy">Easy</mat-option>
                                    <mat-option value="medium">Medium </mat-option>
                                    <mat-option value="hard">Hard </mat-option>
                                  </mat-select>
    
                            </div> 
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">Category type</span>
                                <mat-select  class="form-control" formControlName="type">
                                    <mat-option value="FE">FE</mat-option>
                                    <mat-option value="BE">BE </mat-option>
                                  </mat-select>
    
                            </div> 
                        </div>
                        
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">Group name</span>
                                <mat-select  class="form-control" formControlName="group">
                                    <mat-option  
                     [value]="group._id" 
                    *ngFor="let group of groupList ">
                     {{group.name}}</mat-option>
                  </mat-select>
    
                            </div> 
                        </div>
                    </div>

           
           
            
        </div>
    </div>
    
    </form>