<div [class.flex-row]="activeGridSystem" class="d-flex flex-column gap-2">
  <div *ngFor="let item of cardContent; let i = index;" [class.row]="activeGridSystem" class="w-100">
    <article class="d-flex align-items-center gap-3 overflow-hidden w-100" [class.col-md-6]="activeGridSystem">
      <figure class="h-100 m-0  rounded-2" [class.pink-background]="addPinkBackground" [class.p-5]="addPinkBackground">
        <img [src]="imgSrc" class="w-100 " alt="">
      </figure>
      <div class="d-flex align-items-center gap-4 w-100 pe-3">
        <div class="d-flex flex-column gap-3 p-3 w-100">
          <div class="card-main-header">
            <h4 class="m-0">{{ mainHeader(item) }}</h4>
            <div class="card-details d-flex align-items-center gap-3">
              <span> {{ cardDetailsFContent(item, i) }} </span>
              <span> | </span>
              <span> {{ cardDetailsSContent(item) }} </span>
            </div>
          </div>
          <div class="card-student d-flex align-items-center justify-content-between" *ngIf="studentsVisibility">
            <p class="m-0 fw-bold"> No. of student’s enrolled: {{ numOfStudents(item) }} </p>
            <div class="d-flex gap-2 align-items-center" role="button">
              <p class="m-0 fw-semibold">Open</p>
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="card-icon" *ngIf="mainIconVisibility">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
    </article>
  </div>
</div>