@import "../../../../../assets/styles/layout.scss";

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

section {
  background-color: $dark-blue-color;
  min-height: 100vh;
  padding: 20px;

  h2 {
    color: $main-white-color;
    font-family: cursive;

    span {
      width: 50px;
      height: 50px;
      line-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid $main-white-color;
      padding: 10px;
      border-radius: 50%;
      color: $main-white-color;
    }
  }

  .auth-content {
    .auth-header {
      color: $light-yellow-color;
    }

    .toggle-auth-button {
      margin: 20px 0;
      ul {
        gap: 40px;
        align-items: center;
        padding: 0;
        margin: 0;
        li {
          padding: 10px 60px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          background-color: $dark-grey-color;
          border-radius: 15px;
          border: 5px solid transparent;

          i {
            font-size: 3rem;
            color: $main-white-color;
            margin: 0;
          }

          p {
            color: $main-white-color;
            font-size: 1.2rem;
            margin-bottom: 0;
          }

          &.active-link {
            border: 5px solid $light-yellow-color;
            i {
              color: $light-yellow-color;
            }
          }
        }
      }
    }

    form {
      label {
        color: $main-white-color;
        font-size: 20px;
      }

      .input-group,
      .input-group-text {
        background-color: transparent;
      }
      .input-group {
        input, select {
          background-color: transparent;
          outline: none;
          border: none;
          box-shadow: none !important;
        }
        select {
          color: #fff;
          option {
            color: #000;
          }
        }
      }

      .input-group-text {
        outline: none;
        border: none;
      }

      .main-input-group {
        border: 2px solid $main-white-color;
        border-radius: 10px !important;
        padding: 10px;
        input,
        input::placeholder,
        span {
          color: $main-white-color;
        }
      }
    }

    .actions {
      p {
        color: $main-white-color;
        a {
          color: $light-yellow-color;
        }
      }
    }
  }

  .imgBx {
    background-color: $light-pink-color;
    border-radius: 20px;
  }

  button {
    position: relative;
    overflow: hidden;

    .spin-loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $light-yellow-color;
      transition: $main-transition;
      transform: translate(-90px, 90px) rotate(90deg);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: inherit;
      i {
        color: #fff
      }
    }

    &:hover {
      .spin-loading {
        transform: translate(0) rotate(0);
      }
    }
  }
}
