<div class="row g-0 ">
  <div class="col-12 p-0">
    <app-navbar [sidebarCollapsed]="toggleSidebar" (closeSidebar)="isCollapsed($event)"></app-navbar>
  </div>
  <div class="row g-0  padd">
    <div class="p-0 toggle-sidebar" [class.col-2]="toggleSidebar" [class.col-1]="!toggleSidebar">
      <app-sidebar (sidebarCollapsing)="isCollapsed($event)" [activeMenu]="toggleSidebar"></app-sidebar>
    </div>
    <div class="px-5 toggle-sidebar" [class.col-10]="toggleSidebar" [class.col-11]="!toggleSidebar">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
