@import '../../../../../../../../../assets/styles/layout.scss';
@import '../../../../../../../../../assets/styles/abstracts/variables.scss';
.input-group-text {
    background-color: $light-pink-color;
}
.editBtn{
    border-radius:  20px;
    background-color: $btn-color;
    padding: 10px 30px;
    color: $main-white-color;
    font-size: 16px;
    &:hover{
        color: $btn-color;
        background-color: $main-white-color;
        border: 1px solid $main-border-color;
    }
}
