<!--header-->
<app-shared-header 
[breadCrumbs]="navigationList" 
[btnIcon]="btnIcon" 
[btnText]="btnText"
    (btnEvent)="GoToDashBoard()"
    ></app-shared-header>
<!--end of header-->
<div class="row">
    <div class="col-md-6">
        <div class="p-3 main-border rounded-3">
            <h4>
                Data Structures Quiz One
            </h4>
            <div>
                <span>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    21-6-2024
                </span>
                <span>
                    <i class="fa fa-clock" aria-hidden="true"></i>
                    13:55
                </span>
            </div>
            
             <div class="mt-3">
                <h6>
                    Status : Closed
                </h6>
             </div>

            <div class="input-group mt-3">
                <span class="input-group-text" id="basic-addon1">Duration :</span>
                <input  
                type="text"
                value=""
                [disabled]="true"
                 class="form-control p-2" aria-label="title"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text" id="basic-addon1">Number of questions :</span>
                <input  
                type="text"
                value=""
                [disabled]="true"
                 class="form-control p-2" aria-label="title"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text" id="basic-addon1">Score per question :</span>
                <input  
                type="text"
                value=""
                [disabled]="true"
                 class="form-control p-2" aria-label="title"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group  mt-2 ">
                
                <span class="input-group-text" id="basic-addon1">Description :</span>
                <textarea [disabled]="true"
                class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="input-group  mt-2 ">
                
                <span class="input-group-text" id="basic-addon1">Type :</span>
                <input  
                type="text"
                value=""
                [disabled]="true"
                 class="form-control p-2" aria-label="title"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group  mt-2 ">
                
                <span class="input-group-text" id="basic-addon1">Difficulty :</span>
                <input  
                type="text"
                value=""
                [disabled]="true"
                 class="form-control p-2" aria-label="title"
                    aria-describedby="basic-addon1">
            </div>
            <div class="edit d-flex align-items-center justify-content-between mt-3">
                <button class="btn editBtn mainBtn">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    Edit
                </button>
                <button class="btn deleteBtn mainBtn">
                   <i class="fa fa-close" aria-hidden="true"></i>
                    Delete
                </button>
            </div>
            </div></div>
</div>

