<div class="d-flex justify-content-between align-items-center">
<app-shared-main-header
  [headerText]="'Students List'"
  [navigationVisibility]="false"
></app-shared-main-header>
</div>

<app-shared-card
  [imgSrc]="'../../../../../assets/images/student.png'"
  [cardContent]="studentsDetails"
  [headerKeys]="['first_name', 'last_name']"
  [detailKeys]="['email']"
  [studentsVisibility]="false"
  [useGrid]="true"
  [mainIconVisibility]="true"
  [mainMenue]="true"
  (view)="willBeViewed($event)"
  (delete)="willBeDelete($event)"
  (deleteStudentGroup)="willBeDeleteFromGroup($event)"
  (updateStudentGroup)="willBeUpdateGroup($event)"
  [inGoup]="true"
  
 
></app-shared-card>
<app-shared-pagnation
  [rowsPerPage]="[10, 20, 50]"
  [totalRecords]="totalRecords"
  [rows]="rows"
  (pageSizeChanged)="onPageSizeChange($event)"
  (pageNumberChanged)="onPageNumberChange($event)"
></app-shared-pagnation>
