<app-shared-main-header
  [headerText]="'Students List'"
  [navigationVisibility]="false"
></app-shared-main-header>
<app-shared-card
  [imgSrc]="'../../../../../assets/images/student.png'"
  [cardContent]="studentsDetails"
  [headerKeys]="['first_name', 'last_name']"
  [detailKeys]="['email']"
  [studentsVisibility]="false"
  [useGrid]="true"
  [mainIconVisibility]="true"
  
 
></app-shared-card>
<app-shared-pagnation
  [rowsPerPage]="[10, 20, 50]"
  [totalRecords]="totalRecords"
  [rows]="rows"
  (pageSizeChanged)="onPageSizeChange($event)"
  (pageNumberChanged)="onPageNumberChange($event)"
></app-shared-pagnation>
