<form [formGroup]="addEditGroupForm" (ngSubmit)="submit(addEditGroupForm)">
  <div class="container-fluid h-100 w-100 p-0">
    <div
      class="header d-flex justify-content-between align-items-center border-bottom"
    >
      <div class="p-3">
        <h5 class="m-0 p-0" *ngIf="data.add">Add Group</h5>
        <h5 class="m-0 p-0" *ngIf="data.view">Group Details</h5>
        <h5 class="m-0 p-0" *ngIf="data.edit">Update Group</h5>
        <h5 class="m-0 p-0" *ngIf="data.remove">Delete Group</h5>
      </div>

      <div
        *ngIf="data.view"
        (click)="onNoClick()"
        class="p-3 close border-start d-flex justify-content-center align-items-center"
      >
        <span class="mx-1"> <i class="fa-solid fa-xmark"></i> </span>
      </div>
      <!--add or edit -->
      <div
        *ngIf="data.edit || data.remove || data.add"
        class="d-flex justify-content-between align-items-center"
      >
        <div
          class="d-inline check p-4 border-start d-flex justify-content-center align-items-center"
        >
          <button
            type="submit"
            class="btn"
            *ngIf="data.add || data.edit"
            [disabled]="addEditGroupForm.invalid"
          >
            <span class="mx-1"> <i class="fa-solid fa-check"></i> </span>
          </button>
          <button *ngIf="data.remove" class="btn" [mat-dialog-close]="data.id">
            <span class="mx-1"> <i class="fa-solid fa-check"></i> </span>
          </button>
        </div>
        <div
          (click)="onNoClick()"
          class="d-inline p-4 close border-start d-flex justify-content-center align-items-center"
        >
          <span class="mx-1"> <i class="fa-solid fa-xmark"></i> </span>
        </div>
      </div>
    </div>
    <div class="row p-3 m-0">
      <p *ngIf="data.remove">Are you sure you want to remove this group ?</p>

      <div class="input-group col-12 my-2" *ngIf="data.edit || data.add">
        <span class="input-group-text" id="basic-addon1">Group Name</span>
        <input
          type="text"
          [value]="groupDetails.name"
          formControlName="name"
          class="form-control p-2"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <div *ngIf="data.view || data.remove">
        <h5 class="mb-4">Group Name : {{ groupDetails.name }}</h5>
        <h5>List Of Students :</h5>
        <ul>
          <li
            class="mb-2 pt-2 pb-2 ps-3"
            *ngFor="let student of groupDetails.students"
          >
            {{ student.first_name }} {{ student.last_name }}
          </li>
        </ul>
        <!--
           <div class="row d-flex justify-content-around" >
                 <div class="col-md-5 p-2 mb-3 col-boder"  *ngFor="let student of groupDetails.students ">
                    <span class="">
                      {{student.first_name}} {{student.last_name}}
                    </span>
                 </div>
              </div>
            -->
      </div>
      <div class="input-group col-12 my-2" *ngIf="data.edit || data.add">
        <span class="input-group-text" id="basic-addon1">List Student</span>

        <mat-select
          *ngIf="data.edit"
          multiple
          formControlName="students"
          class="form-control"
        >
          <mat-option
            [value]="student._id"
            *ngFor="let student of allStudentForUpdatingGroup"
          >
            {{ student.first_name }} {{ student.last_name }}</mat-option
          >
        </mat-select>

        <mat-select
          *ngIf="data.add"
          formControlName="students"
          multiple
          class="form-control"
        >
          <mat-option
            ng-selected
            *ngFor="let student of allStudentForAddNewGroup"
            value="{{ student._id }}"
          >
            {{ student.first_name }} {{ student.last_name }}</mat-option
          >
        </mat-select>
      </div>
    </div>
  </div>
</form>
