@import '../../../../../../../../../assets/styles/abstracts/variables.scss';


.header {

    h5,
    i {
        color: $btn-color;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .close:hover {
        background-color:$red-color;
        i {
            color: $main-white-color;
        }

      
        cursor: pointer;
    }

}

.input-group-text,
.form-control {
    font-size: 1.1rem;
    font-weight: 500;
    color: $dark-blue-color;
}

.input-group-text {
    background-color: $light-pink-color;
}

.form-control {
    background-color:$main-white-color;
}
.btn{
    border: none;
    padding: 0;
}



.check:hover{
    background-color: rgb(83, 233, 83);
    cursor: pointer;
    i {
        color: $main-white-color;
    }
    }
