<aside
  class="navigation main-box-shadow"
  [class.active-navigation]="activeMenu"
  #aside
>
  <span></span>
  <span></span>
  <ul class="m-0 ps-3 py-5 overflow-hidden bg-white" #navList>
    <div class="d-flex flex-column gap-3 justify-content-start h-100 py-5">
      <ng-container *ngFor="let list of dashboardMenu"> 
        <li
          *ngIf="list.isActive"
          role="button"
          [routerLink]="list.routeLink"
          [routerLinkActive]="'active-li'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="d-flex align-items-center gap-3">
            <span class="icon m-0">
              <i [class]="list.routeIcon" class="m-0"></i>
            </span>
            <span [class]="list.routeName" class="m-0">{{ list.routeName }}</span>
          </a>
        </li>
      </ng-container>
    </div>
  </ul>
  <div class="toggle" (click)="toggleMenu()"></div>
</aside>
