@import './variables.scss';

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-box-shadow {
  box-shadow: $main-box-shadow;
}

.main-transition {
  transition: $main-transition;
}

.w-fit-content {
  width: fit-content;
}

.pink-background {
  background-color: $light-pink-color;
}

.main-border {
  border: 1px solid $main-border-color;
}

.main-border-radius {
  border-radius: 5px;
}

.yellow-color {
  color: $light-yellow-color;
}

.yellow-background {
  background-color: $light-yellow-color;
}

.form-control:focus,
.form-select:focus {
  border-color: $light-pink-color;
  box-shadow: 0 0 0 .25rem $light-pink-color;
}
