$dark-blue-color: #0D1321;
$light-yellow-color: #C5D86D;
$light-pink-color: #FFEDDF;
$main-white-color: #fff;
$dark-grey-color: #333333;
$main-transition: 0.3s linear;
$main-box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.3);
$main-border-color: rgba($color: #000000, $alpha: 0.2)
