<article class="bg-white">
  <table class="table table-bordered table-group-divider table-responsive table-hover rounded-3 overflow-hidden">
    <thead>
      <tr>
        <th *ngFor="let header of tableHeaders" (click)="onSort(header)">
          {{ displayHeaders[header] }}
          <span *ngIf="sortColumn === header">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of filteredTableBodyContent; trackBy: trackByRowId">
        <td *ngFor="let key of row.keys">
          <ng-container *ngIf="key !== 'actions'">
            {{ getNestedValue(row.row, key) }}
          </ng-container>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center gap-3">
            <div *ngFor="let button of buttons" (click)="button.action(row.row)">
              <button class="bg-transparent p-0">
                <i [ngClass]="[button.btnIcon, button.class]"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</article>
